:root {
    --showOverlay: 25%;
}

#mydiv {
    position: absolute;
    z-index: 9999;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.control {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.field {
    display: flex;
    flex-direction: row;
    place-items: first baseline auto;
}

.fields {
    display: flex;
    flex-direction: column;
}

.value {
    width: 75%;
    margin-left: 20px;
}

.wide {
    grid-column-start: 1;
    grid-column-end: 2;
}

.element {
    margin-top: 0px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.button {
    margin-top: 5px;
    margin-bottom: 5px;
}